.advantages {
	margin-bottom: 50px;
	&__body {
		background-color: #f6f8f9;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	&__item {
		display: flex;
		flex-basis: 33%;
		align-items: flex-start;
		&:not(:nth-child(1)) {
			padding-left: 5%;
			@media (max-width: 1140px) {
				padding: 0;
			}
		}
		@media (max-width: 1140px) {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: 768px) {
			align-items: flex-start;
			flex-basis: 100%;
			margin-bottom: 10px;
		}
	}
	&__icon {
		width: 50px;
		height: 50px;
		margin-right: 20px;
		svg {
			fill: #999999;
		}
		@media (max-width: 1140px) {
			margin: 0;
		}
		@media (max-width: 768px) {
			margin-right: 10px;
		}
	}
	&__content {
		@media (max-width: 1140px) {
			flex-basis: 100%;
			text-align: center;
		}
		@media (max-width: 768px) {
			text-align: left;
			flex-basis: auto;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 500;
	}
	&__desc {
		color: #6e6e6f;
    	font-size: 12px;
	}
}