.search-result__header {
  margin-bottom: 25px; }

.search-result__request {
  background-color: #eef2f4;
  border-radius: 4px;
  padding: 20px; }

.search-result__label {
  color: #4b4b4b;
  display: block;
  font-weight: 600;
  margin: 15px 0; }
  .search-result__label:first-child {
    margin: 0 0 15px 0; }

.search-result .header-search__form {
  margin-bottom: 150px; }

.search-result__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .search-result__wrap .product {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    border: 1px solid #dddddd; }
    .search-result__wrap .product:not(:last-child) {
      margin-right: 10px; }
